/* assets/custom.css
.navbar {
    background-color: #333 !important;
}

.navbar-brand {
    font-size: 2rem !important;
} */


/* The following styles ensure the attribution tag floats above the map and should be removed if the issue is fixed in a future plotly release. */
.maplibregl-ctrl-bottom-right {
  bottom: 10px;
  right: 10px;
}

.maplibregl-ctrl-bottom-left, .maplibregl-ctrl-bottom-right, .maplibregl-ctrl-top-left, .maplibregl-ctrl-top-right {
  pointer-events: none;
  position: absolute;
  z-index: 2;
}

.maplibregl-map {
  font: 12px/20px Helvetica Neue,Arial,Helvetica,sans-serif;
    font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
}

.maplibregl-ctrl-attrib-inner {
  background-color: rgb(239, 239, 239);
  border-radius: 20px;
}

/*This is necessary to remove spacing below the canvas.*/
.maplibregl-canvas {
  display: block;
}

.maplibregl-ctrl-attrib-button {
  visibility: hidden;
}